@offset: 5deg;
@border-color: #888888;
@background-color: #fff;
@keyframes active-item {
    from {
        box-shadow: 0px 0px 10px 3px @border-color;
    }
    to {
        box-shadow: 0px 0px 10px 3px #fff;
    }
}

html,
body,
iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

hr {
    margin: 0px;
    padding: 0px;
}

.mushroom {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    &.open {
        .gallery-container {
            min-height: 0px;
            max-height: 30%;
            box-sizing: content-box;
            .gallery-expander-container {
                position: relative;
                .gallery-expander {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 70px;
                    height: 5px;
                    border: 1px @border-color solid;
                    margin: 0 auto;
                    border-radius: 0 0 5px 5px;
                    border-top: 0px;
                    box-sizing: content-box;
                    left: 0px;
                    right: 0px;
                    background-color: @background-color;
                    z-index: 10;
                    &:hover {
                        height: 12px;
                        width: 90px;
                        transition: all 1s ease-in-out;
                    }
                }
            }
            .gallery {
                padding: 10px 0px;
                margin: 0 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                outline: none;
                list-style: none;
                overflow: hidden;
                user-select: none;
                justify-content: center;
                opacity: 1;
                transition: height 1s, opacity 1s ease-in-out;
                &.hide {
                    height: 0px;
                    opacity: 0;
                    padding: 0px;
                }
                li {
                    flex: 1 0 auto;
                }
                .gallery-item {
                    margin: 0 auto;
                    width: 220px;
                    display: block;
                    &:hover {
                        animation: active-item 1.5s infinite ease-in-out 0s;
                        box-shadow: 0px 0px 10px 3px @border-color;
                    } // &.right {
                    //     transform: skewY(-@offset);
                    // }
                    // &.left {
                    //     box-shadow: 0px 0px 10px 3px @border-color;
                    //     transform: skewY(@offset);
                    // }
                } // &:hover {
                //     height: 0px;
                //     transition: height 2s ease-in-out;
                // }
            }
        }
        .page {
            height: 100%;
            box-sizing: content-box;
        }
    }
}